<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pixstock.Nc.App</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/categoryTree.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container body-content" style="overflow: hidden;" >
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/knockout.punches/knockout.punches.js"></script>
        <script src="~/lib/knockout-es5/dist/knockout-es5.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/categoryTree.js"></script>
    </environment>
    <environment exclude="Development">
        <script>
            window.nodeRequire = require;
            delete window.require;
            delete window.exports;
            delete window.module;
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/jquery.resize.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/categoryTree.js"></script>
        <script src="~/js/contentPreview.js" asp-append-version="true"></script>

        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/knockout.punches/knockout.punches.js"></script>
        <script src="~/lib/knockout-es5/dist/knockout-es5.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
    </environment>
    
    @Html.Partial("Component/_CategoryTreeView")
    @Html.Partial("Component/_ThumbnailListView")
    @Html.Partial("Component/_ContentPreviewView")
    @RenderSection("Scripts", required: false)
</body>
</html>
